.wrapper {
    margin: 1rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 25rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #9c73c5;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
  
  }


  .wrapperc {

    margin: 1rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 25rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #e0d1f6;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
  
  }

  

  .icons {
    padding-right: 0.6rem;;
  }

  .icons:hover {
    color:  #451b5d;
  }


  .iconwrap {
    display: flex;
  }

  .linecross {
    text-decoration: line-through;
    color:#5a5a5a;
    text-decoration-thickness: 0.1rem;
    text-decoration-color:#451b5d;
  }